<div class="content-tab list">

    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>姓名</span>
            <span>地区</span>
            <span>部门</span>
            <span>入职日期</span>
            <span>期望的福利待遇</span>
            <span>期望薪资上升幅度</span>
            <span>规划日期</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in standardLists" style="display: {{list._delete?'none':'block'}};">
            <section class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{list.name}}</p>
                    <p mod>{{list.area}}</p>
                    <p mod>{{list.department}}</p>
                    <p mod>{{list.entryTime}}</p>
                    <p mod>{{list.expectedBenefit}}</p>
                    <p mod>{{list.expectedSalaryIncrease}}</p>
                    <p mod>{{list.planningDate}}</p>
                    <p >
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>目前状态</span>
                                <span>选择发展路径</span>
                                <span>期望此能力的提升程度</span>
                                <span>期望学到的东西</span>
                                <span>预想的权利及义务</span>
                                <span>预计完成时间</span>
                                <span>期望此时的职位状态</span>
                                <span>期望周收益（元）</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{list.currentState}}</span>
                                <span mod>{{list.positive}}</span>
                                <span mod>{{list.degreeAbilityAscend}}</span>
                                <span mod>{{list.expectLearnThings}}</span>
                                <span mod>{{list.rightsObligations}}</span>
                                <span mod>{{list.expectedCompletionTime}}</span>
                                <span mod>{{list.positionsStatus}}</span>
                                <span mod>{{list.expectWeeksEarnings}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>期望月收益（元）</span>
                                <span>期望年收益（元）</span>
                                <span>审核人</span>
                                <span>审核状态</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{list.expectMonthsEarnings}}</span>
                                <span mod>{{list.expectYearsEarnings}}</span>
                                <span mod>{{list.audit}}</span>
                                <span mod>{{list.auditStatus}}</span>
                            </p>
                        </li>

                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>





