<ul class="list">
    <li ng-click="list()" ui-sref=".list[12]" ng-show="LIST" ng-class="{'current':menuClass=='listMenu'}"  ng-init="menuCheck('LIST')">
        <a href="javascript:void(0)">列表</a>
    </li>
    <li ng-click="add()" ui-sref=".add[12]" ng-show="ADD" ng-class="{'current':menuClass=='addMenu'}" ng-init="menuCheck('ADD')">
        <a href="javascript:void(0)"  class="add">添加</a>
    </li>
    <li ng-click="edit()" ng-show="EDIT" ng-class="{'current':menuClass=='editMenu','seeParent':hasId}"  ng-init="menuCheck('EDIT')">
        <a href="javascript:void(0)" class="same-one see">编辑</a>
    </li>
    <li ng-click="delete()"ng-show="DELETE" ng-class="{'current':menuClass=='deleteMenu','seeParent':hasId}"  ng-init="menuCheck('DELETE')">
        <a href="javascript:void(0)" class="same-two see">删除</a>
    </li>
</ul>