<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>工作交接编号</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="add.workJoinNum">
                            <option ng-repeat="a in num track by $index">{{a}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="add.workJoinNum" ng-verify="{}">
                    </div>
                </li>
                <li>
                    <label><em>制度文件夹编号</em></label>
                    <input type="text" ng-model="add.systemFolderNum" >
                </li>
                <li>
                    <label><em>制度文件夹存储路径</em></label>
                    <input type="text" ng-model="add.systemFolderPath" >
                </li>
                <li>
                    <label><em>经验总结编号</em></label>
                    <input type="text" ng-model="add.experienceNum" >
                </li>
                <li>
                    <label><em>经验总结存储路径</em></label>
                    <input type="text" ng-model="add.experiencePath" >
                </li>
                <li>
                    <label><em>工作设计账号，密码文件名称</em></label>
                    <input type="text" ng-model="add.jobDesignName" >
                </li>
                <li>
                    <label><em>账号，密码存储路径</em></label>
                    <input type="text" ng-model="add.accountPath" >
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="meansAddFun()">提交</button>
    </p>
</div>
