<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)" ng-hide="isHide" ng-init="menuCheck()">
        <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
        {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length"  ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" ng-show="finance"  ui-sref="_root.finance.summary.week[12]">
            <a href="javascript:void(0)">{{menuInfo.name}}</a>
        </li>
       <!-- <li ng-click="navClass('usecar')" ng-class="{'active':navCla=='usecar'}" ui-sref="_root.finance.usecar.record.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>-->
        <li ng-click="navClass(menuInfo.msg)" ng-class="{'active':navCla==menuInfo.msg}" go-show="cuspermission" ui-sref="_root.finance.setting.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name3}}</a>
        </li>
    </ul>
</div>