<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="add.area">
                            <option ng-repeat="a in area track by $index">{{a.area}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="add.area" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组/部门</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="add.projectGroup">
                            <option ng-repeat="a in group track by $index">{{a}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="add.projectGroup" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>物资类型</em></label>
                    <input type="text" ng-model="add.materialType" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>设备名称</em></label>
                    <input type="text" ng-model="add.deviceName" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>下限值</em></label>
                    <input type="number" step="0.01" ng-model="add.lowerValue" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>上限值</em></label>
                    <input type="number" step="0.01" ng-model="add.upperValue" ng-verify="{}">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="RepAddFun()">提交</button>
    </p>
</div>
