<div class="collect ">
    <div class="collect-select">
        <span></span>
        <span><i><img src="/images/mandatory.png"></i><em>地区：</em><input type="text" ng-model="area"></span>
        <span><i><img src="/images/mandatory.png"></i><em>用户名称：</em><input type="text" ng-model="customerName"></span>
        <span><i><img src="/images/mandatory.png"></i><em>开始日期：</em>
            <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="startDate"></span>
        <span><i><img src="/images/mandatory.png"></i><em>结束日期：</em>
            <input type="text" onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" class="endDate"></span>
        <button ng-click="collect()">汇总</button>
    </div>
    <ul class="sum-list">
        <li class="sum-thead">
            <span>客户名称</span>
            <span>项目</span>
            <span>地区</span>
            <span>适用年度开始时间</span>
            <span>适用年度结束时间</span>
        </li>
        <li class="sum-tbody" ng-repeat="summaryList in summaryLists" ng-model="tabTit">
            <span>{{summaryList.customerName}}</span>
            <span>{{summaryList.project}}</span>
            <span>{{summaryList.area}}</span>
            <span>{{summaryList.suitableDateStart}}</span>
            <span>{{summaryList.suitableDateEnd}}</span>
        </li>
    </ul>
</div>