<div class="nav-list" ng-repeat="list in showsList">
    <h3 class="header-menu big" ng-click="showMenu(list,true)" ng-hide="isHide" ng-init="menuCheck()">
        <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
        {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length" ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass(menuInfo.msg)" ng-show="materialanalyzedaily" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.check.day.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name1}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="materialanalyzeweek" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.check.week.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="materialanalyzeannual" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.check.years.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name3}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="materialAnalyzedaily"  ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.check.analyseDay.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name4}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="materialAnalyzeweek" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.check.analyseWeek.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name5}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="materialAnalyzeannual" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.check.analyseYears.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name6}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="cuspermission" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.check.setting.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name7}}</a>
        </li>
    </ul>
</div>


