<div class="content-tab list">

    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>姓名</span>
            <span>性别</span>
            <span>出生日期</span>
            <span>证件类型</span>
            <span>证件号码</span>
            <span>联系电话</span>
            <span>户籍地址</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in standardLists" style="display: {{list._delete?'none':'block'}};">
            <section class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{list.username}}</p>
                    <p mod>{{list.sex | cover}}</p>
                    <p mod>{{list.birth}}</p>
                    <p mod>{{list.certificate}}</p>
                    <p mod>{{list.certificateNumber}}</p>
                    <p mod>{{list.phone}}</p>
                    <p mod>{{list.address}}</p>
                    <p >
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>现住址</span>
                                <span>部门</span>
                                <span>岗位</span>
                                <span>是否离职</span>
                                <span>离职时间</span>
                                <span>计薪方式</span>
                                <span>基本报酬</span>

                            </p>
                            <p class="see-children">
                                <span mod>{{list.dwell}}</span>
                                <span mod>{{list.department}}</span>
                                <span mod>{{list.position}}</span>
                                <span mod>{{list.leave | cover3}}</span>
                                <span mod>{{list.leaveDate}}</span>
                                <span mod>{{list.way}}</span>
                                <span mod>{{list.pay}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="see-parent">
                                <span>薪酬发放日</span>
                                <span>特殊情况处理</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{list.releaseDate}}</span>
                                <span mod>{{list.situation}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>




