<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>账号名称</span>
            <span>账号</span>
            <span>卡号</span>
            <span>公司</span>
            <span>银行</span>
            <span>银行地址</span>
            <span>类型</span>
        </li>
        <li class="list-all" ng-repeat="list in infoLists" style="display: {{list._delete?'none':'block'}};">
            <section>
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{list.name}}</p>
                    <p mod>{{list.number}}</p>
                    <p mod>{{list.cardNumber}}</p>
                    <p mod>{{list.company}}</p>
                    <p mod>{{list.bank}}</p>
                    <p mod>{{list.bankAddress}}</p>
                    <p mod>{{list.type}}</p>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose="">关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>
