<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="add.area">
                            <option ng-repeat="a in area track by $index">{{a.area}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="add.area" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组/地区</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="add.projectGroup">
                            <option ng-repeat="a in group track by $index">{{a}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="add.projectGroup" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>类型</em></label>
                    <input type="text" ng-model="add.type" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>设备名称</em></label>
                    <input type="text" ng-model="add.deviceName" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>单位</em></label>
                    <input type="text" ng-model="add.unit" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>经办人</em></label>
                    <input type="text" ng-model="add.operator" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>账务模块负责人</em></label>
                    <input type="text" ng-model="add.accountModule" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>总经办</em></label>
                    <input type="text" ng-model="add.zjb" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>盘点类型</em></label>
                    <select class="sele" ng-model="add.inventoryType" ng-init="add.inventoryType=''">
                        <option value="">请选择</option>
                        <option value="DAILY_INVENTORY">日盘</option>
                        <option value="WEEKLY_INVENTORY">周盘</option>
                        <option value="ANNUAL_INVENTORY">年盘</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="YearsAddFun()">提交</button>
    </p>
</div>
