<ul class="list">
    <li ng-click="list()" ui-sref=".list[12]" ng-show="COLLECT" ng-class="{'current':menuClass=='listMenu'}" ng-init="menuCheck('COLLECT')">
        <a href="javascript:void(0)" >汇总</a>
    </li>
    <li ng-click="add()" ui-sref=".analyse[12]" ng-show="ANALYZE" ng-class="{'current':menuClass=='analyseMenu'}" ng-init="menuCheck('ANALYZE')">
        <a href="javascript:void(0)" class="add">分析</a>
    </li>
    <li ng-click="edit()"ui-sref=".constrast[12]" ng-show="COMPARE" ng-class="{'current':menuClass=='constrastMenu'}" ng-init="menuCheck('COMPARE')">
        <a href="javascript:void(0)" class="same-one" >对比</a>
    </li>
</ul>