<div class="content-tab list">
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>时间</span>
            <span>科目</span>
            <span>项目组</span>
            <span>支付金额</span>
            <span>是否付款</span>
            <span>付款时间</span>
            <span>付款人</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in standardLists" style="display: {{list._delete?'none':'block'}};">
            <section class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{list.lendDate}}</p>
                    <p mod>{{list.firstSubject}}</p>
                    <p mod>{{list.projectGroup}}</p>
                    <p mod>{{list.lendMoney}}</p>
                    <p mod>{{list.payCondition}}</p>
                    <p mod>{{list.payDate}}</p>
                    <p mod>{{list.payer}}</p>
                    <p >
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>付款状态</span>
                                <span>地区</span>
                                <span style="display:none">识别类型</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{list.payStatus | cover}}</span>
                                <span mod>{{list.area}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>



