<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>员工编号</em></label>
                    <input type="text" ng-model="edit.employeeNum" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>姓名（用户名称）</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="edit.name">
                            <option ng-repeat="a in user track by $index">{{a}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="edit.name" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>岗位</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="edit.area">
                            <option ng-repeat="a in position track by $index">{{a}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="edit.area" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>地区</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="edit.jobs">
                            <option ng-repeat="a in area track by $index">{{a.area}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="edit.jobs" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目组</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="edit.projectGroup">
                            <option ng-repeat="a in group track by $index">{{a}}</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="edit.projectGroup" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>项目名称</em></label>
                    <input type="text" ng-model="edit.projectName" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>租房用途</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="edit.purpose">
                            <option value="办公用房">办公用房</option>
                            <option value="员工宿舍">员工宿舍</option>
                        </select>
                        <input type="text" class="inputDom" ng-model="edit.purpose" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>住宿人数</em></label>
                    <input type="number" ng-model="edit.accommodationPeople" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>租房规格</em></label>
                    <input type="text" ng-model="edit.norms" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>租房要求</em></label>
                    <input type="text" ng-model="edit.requirements" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>租房期限</em></label>
                    <input type="text" ng-model="edit.deadline" ng-verify="{}">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>完成租房开始时间</em></label>
                    <input type="text" ng-model="edit.completeStartTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="completeStartTime">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>完成租房结束时间</em></label>
                    <input type="text" ng-model="edit.completeEndTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="completeEndTime">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>注意事项</em></label>
                    <input type="text" ng-model="edit.attention" ng-verify="{}">
                </li>
                <li>
                    <label><em>备注</em></label>
                    <input type="text" ng-model="edit.remark">
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="planEditFun()">提交</button>
    </p>
</div>
