<div class="nav-list"ng-repeat="list in showsList">
    <h3 class="header-menu big"ng-click="showMenu(list,true)" ng-hide="isHide" ng-init="menuCheck()">
        <i class="nav-arrow" ng-class="{true: '', false: 'change-angle'}[list.showIs]"></i>
        {{list.item}}</h3>
    <ul class="menu" ng-if="list.menuList.length" ng-show="list.showIs" ng-repeat="menuInfo in list.menuList">
        <li ng-click="navClass(menuInfo.msg)" ng-show="moneyready"  ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.ready.examine.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name1}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="waitpay" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.ready.awaitpay.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name2}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="firstpayrecord" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.ready.firstwage.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name3}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="payrecord"  ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.ready.paymentRecord.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name4}}</a>
        </li>
        <li ng-click="navClass(menuInfo.msg)" ng-show="cuspermission" ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.ready.setting.list[12]">
            <a href="javascript:void(0)">{{menuInfo.name5}}</a>
        </li>
    </ul>
</div>


