<div class="content-tab list">

    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>工作交接编号</span>
            <span>工作交接开始时间</span>
            <span>工作交接结束时间</span>
            <span>所属模块/组别</span>
            <span>岗位</span>
            <span>工作交接原因</span>
            <span>工作范围</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in standardLists" style="display: {{list._delete?'none':'block'}};">
            <section class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{list.workJoinNum}}</p>
                    <p mod>{{list.workJoinStartTime}}</p>
                    <p mod>{{list.workJoinendTime}}</p>
                    <p mod>{{list.belongModule}}</p>
                    <p mod>{{list.jobs}}</p>
                    <p mod>{{list.workJoinCause}}</p>
                    <p mod>{{list.workScope}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>工作目的</span>
                                <span>工作权限</span>
                                <span>交接人</span>
                                <span>交接人确认</span>
                                <span>接手人</span>
                                <span>接手人确认</span>
                                <span>负责人</span>
                                <span>负责人审核确认</span>
                            </p>
                            <p class="see-children">
                                <span mod >{{list.workPurpose}}</span>
                                <span mod >{{list.workPermission}}</span>
                                <span mod>{{list.successor}}</span>
                                <span mod>{{list.heir | cover}}</span>
                                <span mod>{{list.replacement}}</span>
                                <span mod>{{list.inheritor | cover}}</span>
                                <span mod>{{list.principal}}</span>
                                <span mod>{{list.head | cover}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>





