
<div class="content-tab list">
    <ul class="listsearch">
        <li>
            <label><i><img src="/images/mandatory.png"></i><em>年份</em></label>
            <input type="number" ng-model="selectAn.year">
        </li>
        <li>
            <label><i><img src="/images/mandatory.png"></i><em>月份</em></label>
            <input type="number" ng-model="selectAn.month">
        </li>
        <li>
            <label><i><img src="/images/mandatory.png"></i><em>账号</em></label>

        <li class="select2">
            <p class="select-text">
                <span ng-repeat="word in positions">{{word.name}},</span>
            </p>
            <div class="mymultiselect" ng-dropdown-multiselect="" options="workOptions" selected-model="positions" extra-settings="stringSettings"></div>

        </li>
        </li>


        </li>
        <li><button ng-click="fn()">汇总</button>
            <button  ng-click="CollectSum()">导出</button></li>
    </ul>
    <ul class="table">
        <li class="list-head">
            <span></span>
            <span style="display:none;">汇总编号</span>
            <span>银行名称</span>
            <span>年份</span>
            <span>月份</span>
            <span>收入(贷方金额)</span>
            <span>支出(借方金额)</span>
            <span>余额</span>
            <span></span>
            <!--<span></span>-->
        </li>
        <li class="list-all" style="display: {{infoLists._delete?'none':'block'}};">
            <section>
                <div class="list-text {{infoLists._selectList?'selectList':''}}" ng-click="selectList(infoLists)"><!---->
                   <p></p>
                    <p style="display:none;">{{infoLists.id}}</p>
                    <p>{{infoLists.bank}}</p>
                    <p>{{infoLists.year}}</p>
                    <p>{{infoLists.month}}</p>
                    <p>{{infoLists.creditorCost}}</p>
                    <p>{{infoLists.debtorCost}}</p>
                    <p>{{infoLists.balance}}</p>
                    <p style="display: {{infoLists?'block':'none'}};">
                        <a href="javascript:void(0)" class="more" ng-click="bankSel(infoLists.id)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{infoLists2._selectList2?'block':'none'}};">
                        <li>
                            <!--class="see-parent"   -->
                            <p  class="list-text {{infoLists2._selectList2?'selectList2':''}}"><!-- -->
                                <span>账号</span>
                                <span>卡号</span>
                                <span>公司</span>
                                <span>银行</span>
                                <span>银行地址</span>
                                <span>类型</span>
                                <span>日期</span>
                                <span>收入(贷方金额)</span>
                                <span>支出(借方金额)</span>
                                <span>余额</span>
                            </p>
                            <p class="see-children">
                                <span>{{infoLists2.name}}</span>
                                <span>{{infoLists2.number}}</span>
                                <span>{{infoLists2.cardNumber}}</span>
                                <span>{{infoLists2.company}}</span>
                                <span>{{infoLists2.bank}}</span>
                                <span>{{infoLists2.bankAddress}}</span>
                                <span>{{infoLists2.type}}</span>
                                <span>{{infoLists2.recordDate}}</span>
                                <span>{{infoLists2.creditorCost}}</span>
                                <span>{{infoLists2.debtorCost}}</span>
                                <span>{{infoLists2.balance}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </li>
    </ul>
</div>





