<div class="content-tab list">

    <ul class="table">
        <li class="list-head">
            <span></span>
            <span>工作交接编号</span>
            <span>任务名称</span>
            <span>任务要求</span>
            <span>任务节点</span>
            <span>完成情况</span>
            <span>任务时间</span>
            <span>文件名称</span>
            <span></span>
        </li>
        <li class="list-all" ng-repeat="list in standardLists" style="display: {{list._delete?'none':'block'}};">
            <section class="{{list.status=='CONGEAL'?'congeal':''}}" >
                <div class="list-text {{list._selectList?'selectList':''}}" ng-click="selectList(list)">
                    <p mod>{{$index+1+num}}</p>
                    <p mod>{{list.workJoinNum}}</p>
                    <p mod>{{list.taskName}}</p>
                    <p mod>{{list.taskRequire}}</p>
                    <p mod>{{list.taskNode}}</p>
                    <p mod>{{list.completion}}</p>
                    <p mod>{{list.taskTime}}</p>
                    <p mod>{{list.fileName}}</p>
                    <p>
                        <a href="javascript:void(0)" class="more"  ng-click="moreList(list)">更多详细</a>
                    </p>
                </div>
                <div class="can">
                    <ul class="can-see" style="display: {{list._moreList?'block':'none'}};">
                        <li>
                            <p class="see-parent">
                                <span>文件存储路径</span>
                                <span>汇报对象</span>
                                <span>任务来源路径</span>
                            </p>
                            <p class="see-children">
                                <span mod>{{list.filePath}}</span>
                                <span mod>{{list.reportObject}}</span>
                                <span mod>{{list.taskPath}}</span>
                            </p>
                        </li>
                    </ul>
                </div>

            </section>
        </li>
    </ul>
    <div class="module">
        <div class="see-module">
            <p class="see-type">体现类型</p>
            <p class="see-description"></p>
            <button class="btn" modclose>关闭</button>
        </div>
    </div>
    <footer class="footer">
        <pagination count="pagination.itemsCount" take="pagination.take" activate="pagination.activatePage"></pagination>
    </footer>
</div>
<div class="delete mod" ng-show="delShow">
    <div class="del-head">
        <h5>温馨提示</h5>
    </div>
    <div class="del-con">
        <p>确定要删除这条数据？</p>
        <div class="btn">
            <button ng-click="delFn()">确定</button>
            <button ng-click="cancel()">取消</button>
        </div>
    </div>
</div>
<div id="modalbg" ng-show="delShow"></div>





