<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>归还时间</em></label>
                    <input type="text" ng-model="edit.returnTime" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="onetime">
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>归还人</em></label>
                    <div class="sele ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched area side">
                        <select class="sele" ng-model="edit.returnPerson">
                            <option ng-repeat="a in user track by $index">{{a}}</option>
                        </select>
                        <input type="text"  class="inputDom" ng-model="edit.returnPerson" ng-verify="{}">
                    </div>
                </li>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>领用编号</em></label>
                    <span  class="select2">
                    <p class="select-text">
                        <span ng-repeat="word in positions">{{word}},</span>
                    </p>
                    <div class="mymultiselect" ng-dropdown-multiselect="" options="getNo" selected-model="positions" extra-settings="stringSettings" ></div>
                </span>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="reastFun()">提交</button>
    </p>
</div>
